

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Product</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" 
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <meta charset="utf-8">
        <title>Evara Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/imgs/theme/favicon.svg">
        <!-- Template CSS -->
        <link href="/adminAssets/css/main.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <style>
        .image-preview-container {
            display: flex;
            flex-wrap: wrap;
        }
        .image-preview {
            position: relative;
            margin: 10px;
        }
        .image-preview img {
            max-width: 200px;
            max-height: 200px;
            display: block;
        }
        .image-preview .remove-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            background: red;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
</head>
<body>
    
    
    <header class="main-header navbar">
        <div class="col-search"></div>
        <div class="col-nav">
          <button
            class="btn btn-icon btn-mobile me-auto"
            data-trigger="#offcanvas_aside"
          >
            <i class="material-icons md-apps"></i>
          </button>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link btn-icon" href="#">
                <i class="material-icons md-notifications animation-shake"></i>
                <span class="badge rounded-pill">3</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn-icon darkmode" href="#">
                <i class="material-icons md-nights_stay"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="requestfullscreen nav-link btn-icon"
                ><i class="material-icons md-cast"></i
              ></a>
            </li>
            <li class="dropdown nav-item">
              <a
                class="dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="dropdownLanguage"
                aria-expanded="false"
                ><i class="material-icons md-public"></i
              ></a>
              <div
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownLanguage"
              >
                <a class="dropdown-item text-brand" href="#"
                  ><img
                    src="assets/imgs/theme/flag-us.png"
                    alt="English"
                  />English</a
                >
                <a class="dropdown-item" href="#"
                  ><img
                    src="assets/imgs/theme/flag-fr.png"
                    alt="Français"
                  />Français</a
                >
                <a class="dropdown-item" href="#"
                  ><img
                    src="assets/imgs/theme/flag-jp.png"
                    alt="Français"
                  />日本語</a
                >
                <a class="dropdown-item" href="#"
                  ><img
                    src="assets/imgs/theme/flag-cn.png"
                    alt="Français"
                  />中国人</a
                >
              </div>
            </li>
            <li class="dropdown nav-item">
              <a
                class="dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                id="dropdownAccount"
                aria-expanded="false"
              >
                <img
                  class="img-xs rounded-circle"
                  src="assets/imgs/people/avatar2.jpg"
                  alt="User"
              /></a>
              <div
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="dropdownAccount"
              >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-perm_identity"></i>Edit Profile</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-settings"></i>Account Settings</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-account_balance_wallet"></i
                  >Wallet</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-receipt"></i>Billing</a
                >
                <a class="dropdown-item" href="#"
                  ><i class="material-icons md-help_outline"></i>Help center</a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="#"
                  ><i class="material-icons md-exit_to_app"></i>Logout</a
                >
              </div>
            </li>
          </ul>
        </div>
      </header>
    
<section class="content-main">
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                <h2 class="content-title">Add New Product</h2>
            </div>
        </div>
    </div>
  
    <form id="addProductForm" action="/admin/addProduct" method="POST" enctype="multipart/form-data" onsubmit="validateForm(event)">
        <div class="row">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>1. General info</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" class="form-control" name="name" required>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="description" required></textarea>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Author </label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="author" required></textarea>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>2. Pricing</h6>
                            </div>
                             <div class="col-md-9">
                              <div class="mb-4">
                                <label class="form-label">Regular Price in USD</label>
                                <input type="text" placeholder="$00.0" class="form-control" name="price" value="<%= product ? product.price : '' %>" required>
                              </div>
                              <div class="mb-4">
                                <label class="form-label">Discount Price</label>
                                <input type="number" class="form-control" id="discount-price" name="discountPrice" value="<%= product ? product.discountPrice : '' %>" required>
                              </div>
                              <div class="mb-4">
                                <label class="form-label">Discount in percentage</label>
                                <input type="text" placeholder="00%" class="form-control" id="discount-percentage" name="discountPercentage" value="<%= product ? (product.price && product.discountPrice) ? Math.floor(((product.price - product.discountPrice) / product.price) * 100) : 0 : '' %>%" required>
                              </div>
                                <!-- <div class="mb-4">
                                    <label class="form-label">Regular Price in USD</label>
                                    <input type="text" placeholder="$00.0" class="form-control" name="price" value="" required>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Discount Price</label>
                                    <input type="number" class="form-control" id="discount-price" name="discountPrice" value="" required>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Discount in percentage</label>
                                    <input type="text" placeholder="00%" class="form-control" id="discount-percentage" name="" required>
                                    
                                </div> -->

                            </div>
                        </div>
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>3. Category</h6>
                            </div>
                            <div class="col-md-9">
                              <div class="mb-4">
                                <label class="form-label">Select Category</label>
                                <select class="form-select" name="category" required>
                                    <option value="" disabled selected>Select a category</option>
                                    <% categories.forEach(category => { %>
                                        <option value="<%= category.name %>"><%= category.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                            </div>
                        </div><hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>4. Stock</h6>
                            </div>
                            <div class="col-md-9">
                              <div class="mb-4">
                                <label for="stock" class="form-label">Stock</label>
                                <input type="number" class="form-control" id="stock" name="stock" required>
                            </div>
                            </div>
                        </div>

                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>4. Media</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Images</label>
                                    <input class="form-control" type="file" name="images" id="imageInput" multiple required>
                                </div>
                                <div class="mb-4">
                                    <div class="image-preview-container" id="imagePreviewContainer"></div>                               
                                 </div>
        
                                <!-- Hidden inputs to store cropped image data -->
                                <div id="croppedImagesContainer"></div>
        
                                <div>
                                    <button class="btn btn-md rounded font-sm hover-up" type="submit">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const imageInput = document.getElementById('imageInput');
    const imagePreviewContainer = document.getElementById('imagePreviewContainer');
    const croppedImagesContainer = document.getElementById('croppedImagesContainer');
    let cropperInstances = [];
    let existingFiles = []; // Store existing images

    imageInput.addEventListener('change', function () {
        const files = Array.from(this.files);
        const totalFiles = existingFiles.length + files.length;

        if (totalFiles > 3) {
            alert('You can upload a maximum of 3 images per product.');
            imageInput.value = '';
            return;
        }

        // Reset the preview container for new uploads only
        files.forEach((file, index) => {
            const reader = new FileReader();
            reader.onload = function (event) {
                const previewDiv = document.createElement('div');
                previewDiv.classList.add('image-preview');

                const img = document.createElement('img');
                img.src = event.target.result;
                previewDiv.appendChild(img);

                const removeBtn = document.createElement('button');
                removeBtn.classList.add('remove-btn');
                removeBtn.innerText = 'X';
                removeBtn.addEventListener('click', () => {
                    previewDiv.remove();
                    cropperInstances[index].destroy();
                    cropperInstances[index] = null;
                    existingFiles.splice(existingFiles.indexOf(file), 1); // Remove from existingFiles
                    if (cropperInstances.every(cropper => cropper === null)) {
                        imageInput.value = '';
                    }
                });
                previewDiv.appendChild(removeBtn);

                imagePreviewContainer.appendChild(previewDiv);

                const cropper = new Cropper(img, {
                    aspectRatio: 1,
                    viewMode: 1,
                    zoomable: false,
                    ready: function () {
                        console.log('Cropper.js is ready for image ' + index);
                    }
                });

                cropperInstances.push(cropper);
            };
            reader.readAsDataURL(file);
        });

        // Update existing files with newly selected ones
        existingFiles = existingFiles.concat(files);
    });

    document.getElementById('addProductForm').addEventListener('submit', function (event) {
        event.preventDefault();

        cropperInstances.forEach((cropper, index) => {
            if (cropper) {
                const croppedImage = cropper.getCroppedCanvas().toDataURL('image/jpeg');
                const input = document.createElement('input');
                input.type = 'hidden';
                input.name = `croppedImages[${index}]`;
                input.value = croppedImage;
                croppedImagesContainer.appendChild(input);
            }
        });

        this.submit();
    });
});

</script>
<!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        const imageInput = document.getElementById('imageInput');
        const imagePreviewContainer = document.getElementById('imagePreviewContainer');
        const croppedImagesContainer = document.getElementById('croppedImagesContainer');
        let cropperInstances = [];

        imageInput.addEventListener('change', function () {
            const files = Array.from(this.files);

            if (files.length > 3) {
                alert('You can upload a maximum of 3 images per product.');
                imageInput.value = '';
                return;
            }

            imagePreviewContainer.innerHTML = '';
            croppedImagesContainer.innerHTML = '';
            cropperInstances = [];

            files.forEach((file, index) => {
                const reader = new FileReader();
                reader.onload = function (event) {
                    const previewDiv = document.createElement('div');
                    previewDiv.classList.add('image-preview');

                    const img = document.createElement('img');
                    img.src = event.target.result;
                    previewDiv.appendChild(img);

                    const removeBtn = document.createElement('button');
                    removeBtn.classList.add('remove-btn');
                    removeBtn.innerText = 'X';
                    removeBtn.addEventListener('click', () => {
                        previewDiv.remove();
                        cropperInstances[index].destroy();
                        cropperInstances[index] = null;
                        if (cropperInstances.every(cropper => cropper === null)) {
                            imageInput.value = '';
                        }
                    });
                    previewDiv.appendChild(removeBtn);

                    imagePreviewContainer.appendChild(previewDiv);

                    const cropper = new Cropper(img, {
                        aspectRatio: 1,
                        viewMode: 1,
                        zoomable: false,
                        ready: function () {
                            console.log('Cropper.js is ready for image ' + index);
                        }
                    });

                    cropperInstances.push(cropper);
                };
                reader.readAsDataURL(file);
            });
        });

        document.getElementById('addProductForm').addEventListener('submit', function (event) {
            event.preventDefault();

            cropperInstances.forEach((cropper, index) => {
                if (cropper) {
                    const croppedImage = cropper.getCroppedCanvas().toDataURL('image/jpeg');
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = `croppedImages[${index}]`;
                    input.value = croppedImage;
                    croppedImagesContainer.appendChild(input);
                }
            });

            this.submit();
        });
    });
</script> -->
</body>
</html>




